.catalog-mobile-filters {

}

.modal {
  :global {
    *[role=modal-footer] {
      height: auto;
    }
    // *[role=modal-scroll-wrapper] {
    //   max-height: calc(100vh - 100px);
    // }
  }
}

.body {
  margin: 24px 4px;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.all-filters {
  margin-top: 16px;
  display: flex;
  gap: 10px;
  white-space: nowrap;
  flex-wrap: wrap;
  align-items: center;

  .reset {
    svg path {
      fill: var(--primary-darkest-gray);
    }
  }
}
