@import '@mixins/media.scss';
@import '@mixins/mixins.scss';

.search {
  // grid-area: search;
  z-index: 1;

  @include tablet {
    margin-right: 3px;
  }

  @include mobile {
    margin-right: 6px;
  }
}

.main-content {
  @include flexColumn;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 20px 0;
}

.footer {
  @include flexColumn;
  flex-direction: column;
  gap: 20px;
}

.searching {
  //   .top-line {
  //     grid-template-columns: 24.8fr 3.2fr 0.9fr 0.5fr 20px;
  //     grid-template-areas: 'search about pay help call';

  //     & .search {
  //       button {
  //         max-width: 67px !important;
  //       }
  //     }

  //     @include desktop {
  //       grid-template-columns: 1fr 0.109fr 0.109fr 0.109fr 20px;

  //       & .search {
  //         button {
  //           max-width: 64px !important;
  //         }
  //       }
  //     }

  //     @include tablet {
  //       grid-template-areas: 'search cancel';
  //       grid-template-columns: 90.8% 0.2fr;

  //       .cancel {
  //         z-index: 1;
  //         display: flex;
  //         color: var(--primary-main-blue);
  //       }

  //       :global {
  //         #searchInputSuggestions {
  //           background: transparent;
  //           box-shadow: unset;
  //           margin-left: -27px;
  //           border-radius: 0;
  //           width: 100vw;
  //           margin-top: 55px;

  //           & > div {
  //             padding: 13px 40px;
  //           }
  //         }
  //       }
  //     }

  //     @media (max-width: 600px) {
  //       margin-right: 20px;
  //     }

  //     @include mobile {
  //       margin-right: 10px;
  //       grid-template-columns: 87% 1fr;
  //     }
  //   }
}
