@use '@mixins/mixins';
@use '@mixins/media';

.catalog-button {
  background-color: var(--primary-lightest-gray);
  display: flex;
  align-items: center;
  border: 4px solid transparent;
  cursor: pointer;
  outline: none;

  .image {
    @include mixins.centering;

    img {
      width: 44px;
      height: 100%;
    }
  }
}
