@use "@mixins/mixins";
@use "@mixins/media";

.call-button-tooltip {
  @include media.tablet {
    display: none;
  }
}

.tooltip-content {
  padding: 16px;
  display: flex;
  flex-direction: column;

  .sub-title {
    color: var(--primary-darkest-gray);
    font-size: 12px;
    line-height: 16px;
  }

  .sup-title {
    @extend .sub-title;
    margin-bottom: 6px;
  }


  .order-callback {
    margin-top: 12px;
  }
}

.content-button {
  color: var(--primary-darkest-gray);
}