@use "@mixins/mixins";
@use "@mixins/media";

.choose-city-modal {
  //height: 100%;

  //div[role=modal-scroll-wrapper] {
  //  overflow: hidden;
  //}

  @media (max-width: 1250px) {
    width: 78% !important;
  }

  @include media.desktop {
    width: 90.5% !important;

    // button[role=close-button] {
    //   margin-top: -3px;
    //   margin-right: -2px;
    // }
  }

  @include media.tablet {
    width: 100% !important;
    div[role=ModalBaseHeader_topBar] {
      font-size: 16px;
      line-height: 20px;
    }

    // button[role=close-button] {
    //   margin-top: -2px;
    //   margin-right: -8px;
    //   transform: scale(0.9);
    // }

    div[role=modal-scroll-wrapper] {
      max-height: calc(100vh - 88px);
    }
  }

  @include media.mobile {
    div[role=ModalBaseHeader_topBar] {
      font-size: 14px;
      line-height: 20px;
    }

    // button[role=close-button] {
    //   margin-top: 0px;
    //   margin-right: -17px;
    //   transform: scale(0.9);
    // }
  }

  :global {
    #searchInputSuggestions {
      @include media.tablet {
        box-shadow: none;
        width: 100vw;
        margin-left: -20px;
        max-height: calc(100vh - 110px);
        border-radius: 0;

        &:after {
          display: block;
          content: '';
          position: fixed;
          top: 120px;
          background-color: var(--primary-white);
          width: 1000px;
          height: 1000px;
          left: 0;
          z-index: -1;
        }
      }

      @include media.mobile {
        margin-left: -3px;
        margin-right: 0;
        width: calc(100% + 8px);
      }

    }
  }


}

.header {


  @include media.desktop {
    padding: 30px 37px 30px 35px;
  }

  @include media.tablet {
    padding: 0;
  }
}

.search-input {
  width: 100%;
  margin-right: 60px;
  margin-left: 22px;

  @include media.desktop {
    margin-left: 55px;
  }

  @include media.tablet {
    margin: 0 20px;
    margin-top: 20px;
  }

  @include media.mobile {
    margin: 0 17px;
    margin-top: 14px;
  }
}

.body {
  display: flex;
  gap: 50px;

  @include media.tablet {
    margin: 0 -17px 0 0;
    padding-top: 30px;
  }

  @include media.mobile {
    padding: 12px 3px 0 3px;
  }

  .title {
    color: var(--primary-black);
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    margin-bottom: 15px;

    @include media.mobile {
      font-size: 14px;
      line-height: 18px;
    }
  }

  .left-side {
    width: 200px;
    position: fixed;
    height: calc(100% - 250px);

    .title {
      margin-top: 3px;
      margin-bottom: 24px;

      @include media.mobile {
        margin-bottom: 15px;
      }
    }

    @include media.tablet {
      height: calc(100% - 60px);
      width: 170px;
    }

    @include media.mobile {
      width: 150px;
    }

    &::-webkit-scrollbar {
      background-color: transparent;
      width: 6px;
    }

    &::-webkit-scrollbar-thumb {
      background: var(--primary-light-gray);
    }

    &::-webkit-scrollbar-thumb:hover {
      background-color: var(--opacity-black-40);
    }

    .items {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 12px;

      padding-bottom: 20px;

      overflow: auto;
      height: calc(100% - 100px);

      @include media.desktop {
        gap: 14.5px;
      }

      @include media.tablet {
        height: calc(100% - 100px);
        gap: 13.8px;
      }

      @include media.mobile {
        gap: 12px;
      }
    }
  }

  .right-side {
    //overflow: scroll;
    width: 100%;
    //height: 100%;
    // padding-bottom: 300px;
    padding-left: 20px;

    margin-left: 200px;

    @include media.tablet {
      padding-left: 48px;
    }


    .title {
      //width: calc(100% - 654px);
      margin-top: 4px;
      margin-bottom: 21px;
    }

    @media (max-width: 410px) {
      margin-left: 150px;
    }

    @media (max-width: 500px) {
      padding-left: 0;
    }

    @include media.mobile {
      padding-left: 22px;
    }

    & > .items {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      // height: 1000px;
      // margin-bottom: -400px;
      overflow-x: hidden;
      overflow-y: auto;
      gap: clamp(5px, 5vw, 10px);
      max-height: 90vh;

      @include media.desktop {
        gap: clamp(5px, 2vw, 20px);
        // height: 900px;
        // margin-bottom: -320px;
      }

      // @media (max-width: 800px) {
      //   height: 1200px;
      // }

      // @include media.tablet {
      //   // height: 1400px;
      //   margin-bottom: -340px;
      // }

      // @media (max-width: 600px) {
      //   height: 2000px;
      //   margin-bottom: -400px;
      // }

      // @media (max-width: 500px) {
      //   height: 3800px;
      //   margin-bottom: -450px;
      // }
    }

    .column {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 8px;

      width: clamp(80px, 10vw, 144px);

      @include media.desktop {
        gap: 3px;
      }

      @include media.tablet {
        button {
          font-size: 12px;
          line-height: 18px;
        }
      }

      button {
        text-align: left;
      }

      .letter {
      }

      & > .items {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 4px;


        button {
          height: fit-content;

        }

        @include media.desktop {
          gap: 3px;
        }

        @include media.tablet {
          margin-top: 5px;
          gap: 12px
        }
      }
    }
  }
}

