.badge {
  background-color: var(--primary-red);
  padding: 2px;
  width: 17px;
  height: 17px;
  border-radius: 32px;

  color: var(--primary-white);
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  text-align: center;
}