@font-face {
    font-family: "Onest";
    src: url("Onest/Onest-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Hauora";
    src: url("Hauora/Hauora-Regular.ttf") format("truetype");
}
