@use '@mixins/mixins';
@use '@mixins/media';

.product-selection-by-car {
  background-color: var(--secondary-light-gray-2);
  border-right: 20px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 62px 52px 60px 60px;
  width: 100%;
  border-radius: 20px;

  @include media.desktop {
    padding: 40px;
    gap: 30px;
  }

  @include media.tablet {
    padding: 24px;
    gap: 16px;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  button {
    white-space: nowrap;
  }
}

.title {
  font-size: 32px;
  line-height: 42px;
  font-weight: 600;
  font-family: Hauora, serif;

  @include media.tablet {
    font-size: 20px;
    line-height: 28px;
  }

  @include media.mobile {
    width: 60%;
  }
}

.logos {
  @include mixins.centering;
  justify-content: space-around;

  //overflow-y: hidden;

  @include media.desktop {
    & > div:nth-child(n + 6) {
      display: none;
    }
  }

  @include media.tablet {
    margin: 0 -20px 0 -30px;
    & > div:nth-child(n + 9) {
      display: none;
    }

    margin-top: -13px;

    svg {
      width: 120px;
      height: 90px;
    }
  }

  @media (max-width: 600px) {
    & > div:nth-child(n + 4) {
      display: none;
    }
  }

  @media (max-width: 460px) {
    margin-left: -20px;
  }

  @include media.mobile {
    margin-top: -13px;
    margin-left: -14px;

    & > div:nth-child(3) {
      svg {
        height: 40px;
      }
    }
  }

  & div {
    //width: clamp(100px, 11vw, 150px);
    //height: 104px;

    @include media.desktop {
      //width: clamp(100px, 11vw, 122px);
    }

    @include media.tablet {
      //width: clamp(70px, 5vw, 104px);
    }

    @include media.mobile {
      //width: clamp(60px, 5vw, 98px);
    }
  }
}
//
//.lada {
//  svg {
//    max-width: 70% !important;
//  }
//}
//
//.renault {
//  svg {
//    max-width: 40% !important;
//  }
//}

.top-btn {
  @media (max-width: 550px) {
    display: none;
  }
}

.bottom-btn {
  display: none;
  //@include media.mobile {
  //  display: block;
  //}
  @include media.tablet {
    height: 32px;
    padding: 2px 15px;
  }

  @media (max-width: 550px) {
    display: block;
  }
}
