@use "@mixins/mixins";
@use "@mixins/media";

.pagination-button {
  @include mixins.centering;
  position: relative;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  color: var(--primary-black);
  min-width: 24px;
  height: 30px;
  cursor: pointer;

  @include media.tablet {
    font-size: 14px;
    line-height: 20px;
    min-width: 24px;
    height: 26px;
  }
}

.active {
  &:after {
    height: 2px;
    content: '';
    display: block;
    background-color: var(--primary-light-blue);
    width: 100%;
    position: absolute;
    bottom: 0;
    border-radius: 1px;
  }
}