@use '@mixins/mixins';
@use '@mixins/media';

.buy-one-click {
  width: 100%;
  > button {
    padding: 19px 32px;
    background: white;
    border-radius: 10px;
    width: 100%;

    &:hover {
      cursor: pointer;
    }

    @include media.tablet {
      margin-top: 10px;
    }
  }
}
