@use "@mixins/mixins";
@use "@mixins/media";

.holder {
  padding: 10px;
  background: #f1f5f6;
  position: relative;

  border-radius: 20px;

  height: 115px;
  width: 100%;

  @include media.tablet {
    height: 150px;
    overflow: hidden;
  }
}

.text {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  height: 100%;

  z-index: 1;

  > div:first-child {
    color: #2d2f3166;
    font-size: 12px;
  }

  > div:last-child {
    color: #2d2f3199;
    font-size: 18px;
  }
}

.small-zero {
  position: absolute;
  z-index: 0;
  bottom: 5px;
  right: 40%;

  @include media.tablet {
    bottom: -25px;
    right: 17%;
  }
}

.big-zero {
  position: absolute;
  z-index: 0;
  top: 0px;
  right: 20%;
}

.percent {
  position: absolute;
  right: 0px;
  bottom: 0px;

  @include media.tablet {
    bottom: -6px;
    right: -8px;
  }
}
