@use '@mixins/mixins';
@use '@mixins/media';

.title {
  font-weight: 600;
}

.payment-items {
  display: flex;
  gap: 10px;
  color: #656f72;
}

.market {
  @include mixins.centering;
  justify-content: flex-start;
  gap: 5px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  @include media.desktop {
    flex-direction: row;
    align-items: center;
  }
  @include media.tablet {
    flex-direction: column;
    align-items: flex-start;
  }
}
