@use "@mixins/mixins";
@use "@mixins/media";

.cart-button {
  @include mixins.centering;
  background-color: var(--primary-green);
  color: var(--primary-white);
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  height: 100%;
  outline: none;
  border-radius: 10px;
  border: 4px solid transparent;
  padding: 6px 10px;
  font-family: Hauora, serif;
  flex-direction: column;

  cursor: pointer;

  &:has(.icon-wrap) {
    padding: 6px 0 6px 10px;
  }

  &.icon {
    padding: 10px;

    .icon-wrap {
      margin-right: -3px;
    }
  }

  &.page {
    padding: 2px 20px;
  }

  &:not(:disabled) {
    &:hover {
      background-color: var(--secondary-lightest-green);
    }

    &.active {
      background-color: var(--secondary-light-green);
    }

    &:focus {
      border-color: var(--primary-light-blue);
    }
  }

  &:disabled {
    background-color: var(--primary-gray);
    color: var(--secondary-light-gray-2);

    svg path {
      fill: var(--secondary-light-gray-2);
    }
  }

  @include media.tablet {
    font-size: 14px;
    line-height: 20px;
    padding: 6px 10px;
    border-radius: 8px;

    &:not(.icon) {
      padding: 2px 9px;
      //
      //:has(.icon-wrap) {
      //  .cart-button {
      //    padding: 2px 0 2px 4px
      //  }
      //}
    }

    &.icon {
      padding: 6px;
    }

    &.page {
      font-size: 14px;
      padding: 0 20px;
      line-height: 20px;
    }
  }

}

.top-line {
  @include mixins.centering;
  gap: 6px;

  white-space: nowrap;
}

.bottom-line {
}

.icon-wrap {
  width: 24px;
  height: 24px;

  svg {
    width: 8px;
    height: 14px;
    //width: 100%;
    //height: 100%;
  }

  @include mixins.centering;

  @include media.tablet {
    width: 12px;
    height: 12px;
  }
}

.icon {

}

.bottom-line {
  font-size: 14px;
  font-weight: 400;
}